@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'Google Sans Bold';
    src: url('./lib/fonts/GoogleSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    height: 100%;
    @apply bg-[#0A0A0A];
}

html {
  scroll-behavior: smooth;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
    display: none;
}