@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-title: 'Jakarta Sans Regular';
    --font-ui: 'Jakarta Sans Regular';
    --font-content: 'DM Sans';

    --color-main: #171717;

    --duration-ui: 500ms;
    --duration-ui-slow: 1000ms;

    --animate-blink: blink 2s step-start infinite;
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }
}

@layer {
    .page {
        h1 {
            @apply font-title;
        }

        a, p {
            @apply font-content;
        }
    }

    .wallpaper {
        background-color: #0A0A0A;
        opacity: 1;
        background-image: radial-gradient(#141414 1.2000000000000002px, #0A0A0A 1.2000000000000002px);
        background-size: 12px 12px;
    }

    .comic-design {
        @apply border-4 shadow-[5px_5px_0px] shadow-black border-black;
    }

    .button {
        @apply p-2 border border-white/10 hover:border-white/50 duration-300 hover:cursor-pointer;
    }
}

body {
    height: 100%;
    scrollbar-width: thin;
    
    background-color: #0A0A0A;
    opacity: 1;
    background-image:  radial-gradient(circle at 9px 100%, transparent 8px, #141414 8px, #141414 9px, transparent 9px), radial-gradient(circle at 9px 0%, transparent 8px, #141414 8px, #141414 9px, transparent 9px);
    background-size: 18px 9px;
    background-position: 0 0, 9px 0;
}

html {
  scroll-behavior: smooth;
}

/* Hide Scrollbar */
/*body::-webkit-scrollbar {
    display: none;
}*/

@font-face {
    font-family: 'Google Sans Bold';
    src: url('./lib/fonts/GoogleSansBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jakarta Sans Regular';
    src: url("./lib/assets/fonts/PlusJakartaSans-Regular.ttf")
}
@font-face {
    font-family: 'DM Sans';
    src: url("./lib/assets/fonts/DMSans-Regular.ttf")
}

::selection {
    background: white;
    color: black;
}